{% extends "auctions/layout.html" %}

{% block body %}
    <h2>My Winnings</h2>

    <div class="row">
        {% for listing in listings %}
            <div class="col-md-4 mb-4">
                <div class.html"card h-100">
                    
                    <a href="{% url 'listing_page' listing.id %}" class="card-link">
                        {% if listing.image %}
                            <img src="{{ listing.image }}" class="card-img-top" alt="{{ listing.title }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                        </div>
                    </a>
                    
                    <div class="card-footer">
                        <p class="card-text">{{ listing.description }}</p>
                        <strong>Winning Price: ${{ listing.get_current_price }}</strong>
                    </div>
                </div>
            </div>

        {% empty %}
            <p>----You have not won any auctions yet!----</p>
        {% endfor %}
    </div>

{% endblock %}